<!-- {% extends 'base.html' %}

{% block content %}
<h2 class="mt-5 ml-3"> Projects in {{category}} fundraising </h2>
<hr>
<div class="mt-5 mb-5 container ">
  <div class="container">
    {% if projects %}
    {% for p in projects %}

    <div class="ml-5 col-3 card card-stats mb-4 mb-xl-4 text-center h-100 shadow">

      <h3 class="card-header">{{p.title}}</h3>
      <img class="card-img-top" src="" alt="Campaign image">
      <div class="card-body">
        <h5>Target: {{p.total_target}} </h5>
        <p class="card-text cut-text ">{{p.details}}</p>
        <h5 class="card-text cut-text mb-3">By: {{p.user}}</h5>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h3 class="text-center mt-5"> There are no running projects for this fundraising right now!</h3>
    {% endif %}
  </div>
</div>
{% endblock content %} -->