{% extends 'base.html' %}
{% block content %}
<form method="GET" autocomplete="off" action="{% url 'home:project_search' %}"
    class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
    {% csrf_token %}

    <div id="focusArea" class="form-group mb-5 mx-auto ">
        <div class="search-area">
            <h2 class="mt-2">Search For Projects.. </h2>
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" id="searchBar" name="key" placeholder="Find Project By Name" type="text">
            </div>
        </div>
    </div>
</form>
<section class="content ">
    <div class="staff-picks-content">
        <h1 class="text-center mb-5 text-info">Highest Rated Projects</h1>
        <div class="staff-picks-slider slider-controls-top owl-carousel">
            {% for project in highest_rated %}
            <div class="staff-picks-item clearfix">
                <a class="staff-picks-image col-md-6 col-12" href="{%  url 'project:viewone' project.project_id %}">
                    <img style="max-height:300px;min-height:300px"
                        src="{{ project.image_url|default_if_none:'/static/admin/img/None.jpg' }}" alt="">
                </a>
                <div class="bg-light text-black"
                    style="padding:8px;border:.5px solid #555;border-radius:5px;max-height:250px;min-height:200px">
                    <h3 class="text-primary">
                        Project-Title: <a href="{%  url 'project:viewone' project.project_id %}">{{ project.title }}</a>
                    </h3>
                    <div class="staff-picks-description">
                        <p>Total-target: {{ project.total_target }}</p>
                        <p">Project-Details: {{ project.details }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid mt-3">
        <div class="row  mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h2 class="card-title text-info font-weight-bold">Latest project</h2>

                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Category</th>
                                    <th>Rates</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for latest in latest %}
                                <tr>
                                    <td>
                                        {{ latest.title }}
                                    </td>
                                    <td>{{latest.category}}</td>
                                    <td>
                                        <small class="text-success mr-1">
                                            <i class="fas fa-arrow-up"></i>
                                            {{latest.ratings}}
                                        </small>
                                    </td>
                                    <td>
                                        <a href="{%  url 'project:viewone' latest.project_id %}" class="text-muted">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title text-info font-weight-bold">Feature projects</h3>

                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Category</th>
                                    <th>Ratings</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for feat_project in top_featured %}
                                <tr>
                                    <td>
                                        {{feat_project.title}}
                                    </td>
                                    <td>{{feat_project.category}}</td>
                                    <td>
                                        <small class="text-success mr-1">
                                            <i class="fas fa-arrow-up"></i>
                                            {{feat_project.ratings}}
                                        </small>
                                    </td>
                                    <td>
                                        <a href="{%  url 'project:viewone' feat_project.project_id %}"
                                            class="text-muted">

                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title text-info font-weight-bold">Projects Category</h3>

                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>
                                        {{category.category}}
                                    <td>
                                        <a href="{% url 'project:project_categories' category.id %}" class="text-muted">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}