{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h2>Search</h2>
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
</div>
<div class="staff-picks mt-5">
    <div class="container-fluid">
        <div class="border-title">
            <h2 class="title left-title">Highest Rated Projects</h2>
            <div class="description left-description">The highest rated projects that are currently active
            </div>
        </div>
        <div class="owl-carousel">
            <div class="item">
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_bags.jpg" alt="" />
                    <div class="inner">
                        <a href="#">The Erling Bag</a>
                    </div>
                </a>
            </div>
            <div class="item black">
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_book_cover.jpg" alt="" />
                    <div class="inner">
                        <a href="#">Summer Book Series</a>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_bags.jpg" alt="" />
                    <div class="inner">
                        <a href="#">The Erling Bag</a>
                    </div>
                </a>
            </div>
            <div class="item black">
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_book_cover.jpg" alt="" />
                    <div class="inner">
                        <a href="#">Summer Book Series</a>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_bags.jpg" alt="" />
                    <div class="inner">
                        <a href="#">The Erling Bag</a>
                    </div>
                </a>
            </div>
            <div class="item black">
                <a href="#">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/slider_book_cover.jpg" alt="" />
                    <div class="inner">
                        <a href="#">Summer Book Series</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="latest campaign mt-5">
    <div class="container-fluid">
        <h2 class="title">Latest Featured Projects</h2>
        <div class="description">Recently created projects.</div>
        <div class="campaign-content">
            <div class="row">
                {% for project in latest_featured %}
                <div class="col-lg-4 col-sm-6 col-6">
                    <div class="campaign-item">
                        <div class="campaign-box">
                            <a href="#" class="category">{{ project.project_id }}</a>
                            <div class="campaign-description"> {{ project.project_details }}</div>
                            <div class="campaign-author">
                                <a class="author-icon" href="#">
                                    <img src="{{ project.project_owner_img }}" alt="">
                                </a>
                                <a class="author-name" href="#">
                                    <span>by</span>{{ project.project_title }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="latest campaign mt-5">
    <div class="container-fluid">
        <h2 class="title">Latest Five Projects</h2>
        <div class="description">Recently created projects.</div>
        <div class="campaign-content">
            <div class="row">
                {% for project in get_latest_projects %}
                <div class="col-lg-4 col-sm-6 col-6">
                    <div class="campaign-item">
                        <div class="campaign-box">
                            <a href="#" class="category">{{ project.project_category }}</a>
                            <div class="campaign-description"> {{ project.project_details }}</div>
                            <div class="campaign-author">
                                <a class="author-icon" href="#">
                                    <img src="{{ project.project_owner_img }}" alt="">
                                </a>
                                <a class="author-name" href="#">
                                    <span>by</span>{{ project.project_user }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <h2> Our Categories </h2>
    <div class="row">
        {% for c in categories %}
        <div class="categs">
            <a href="{% url 'show_cate' c.id %}">
                <h5 class="card-title" style="text-align: center;">{{c.title }}</h5>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}