.button_color {
        background-color: #7367F0 !important;
        color: #fff !important;
    }
.tajawal ,html ,body{
    font-family: 'Tajawal', sans-serif !important;

}
.dropdown-toggle::after{
    color: #4F5962;
}
