{% extends 'base.html' %}
{% block content %}
    <section class="container m-4">
      {% for project in projects%}
            <div class="card  m-4" style="width: 87rem;">
              {% for img in imgs %}
              {% if img.project_id_id == project.project_id and forloop.first %}
              <img src=../../../media/{{img.pic}} class="card-img-top" alt="...">
              {% endif %}
              {% endfor %}
              <div class="card-body">
                <h1 class="card-title mb-4">{{project.title}}</h1>
                
                <p class="card-text">{{project.details}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3 >${{project.donation}} <p>raised of ${{project.total_target}}</p></h3></li>
                <li class="list-group-item">{{project.category}}</li>
              </ul>
              <div class="card-body">
                <a href="{% url 'project:viewone' project.project_id%}" class="card-link">View</a>
              </div>
            </div>
        {% endfor %}
      </section>     


{% endblock content %}

