{% load static %}
{% load widget_tweaks %}

{%block head%}
        {% include "head.html" %}
    {%endblock head%}

    <body class="register-page" style="min-height: 586.781px;">
<div class="register-box">
  <div class="register-logo">
  </div>

  <div class="card">
    <div class="card-body register-card-body">

      <form action="" method="post">
      {% csrf_token %}
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        <div class="input-group mb-3">
 {% render_field form.email class="form-control" placeholder="Email" %}
                                    {% if uform.email.errors %}
                                        {{ uform.email.errors }}
                                    {% endif %}
            <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
          <!-- /.col -->
          <div class="col-4">
    <input type="submit" class="btn btn-outline-primary btn-lg " value="Reset password">
          </div>
            <div class="col-4"></div>
          <!-- /.col -->
        </div>
      </form>


    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
</div>



</body>





{%block scripts%}
{% include "scripts.html" %}
{%endblock scripts%}
{%block js%}
{%endblock js%}
 </div>
     </body>

</html>



