{% load static %}
{% load widget_tweaks %}

{% block head %}
    {% include "head.html" %}
{% endblock head %}

<body class="register-page" style="min-height: 686.781px;">
<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            {% if validlink %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3"><p>Please enter (and confirm) your new password.</p>

                        {% render_field form.new_password1 class="form-control" placeholder="New password" %}
                        {% if form.new_password1.errors %}
                            {{ form.new_password1 }}
                        {% endif %}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {% render_field form.new_password2 class="form-control" placeholder="Retype password" %}
                        {% if form.new_password2.errors %}
                            {{ form.new_password2 }}
                        {% endif %}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <!-- /.col -->
                        <div class="col-4">
                            <input class="btn btn-outline-primary" type="submit" value="Change my password"/>
                        </div>
                        <div class="col-4"></div>
                        <!-- /.col -->
                    </div>
                </form>
            {% else %}
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password
                    reset.</p>
            {% endif %}


        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
{% block scripts %}
    {% include "scripts.html" %}
{% endblock scripts %}
{% block js %}
{% endblock js %}


</body>





