{% load static %}
{% load widget_tweaks %}






{% block head %}
    {% include "head.html" %}
{% endblock head %}

<body class="register-page" style="min-height: 586.781px;">
<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Change password</p>

            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {% render_field form.old_password class="form-control" placeholder="Old password" %}
                    {% if form.old_password.errors %}
                        {{ form.old_password }}
                    {% endif %}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {% render_field form.new_password1   class="form-control" placeholder="New password" %}
                    {% if form.new_password1.errors %}
                        {{ form.new_password1.errors }}
                    {% endif %}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {% render_field form.new_password2   class="form-control" placeholder="Retype new password" %}
                    {% if form.new_password2.errors %}
                        {{ form.new_password2.errors }}
                    {% endif %}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary btn-block">change</button>
                    </div>
                    <div class="col-4"></div>
                    <!-- /.col -->
                </div>
            </form>

          </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>


</body>





{% block scripts %}
    {% include "scripts.html" %}
{% endblock scripts %}
{% block js %}
{% endblock js %}
</div>
</body>

</html>



