

{% load static %}

{% block head %}
    {% include "head.html" %}
{% endblock head %}

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b>AMA</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">

                    </div>
                    <!-- /.col -->
                    <div class="col-5">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>

            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="{% url 'password_reset' %}">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="{% url 'register' %}" class="text-center">Register a new membership</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>


</body>

{% block scripts %}
    {% include "scripts.html" %}
{% endblock scripts %}
{% block js %}
{% endblock js %}
</div>
</body>

</html>