{% load static %}
{%block head%}
        {% include "head.html" %}
    {%endblock head%}

    <body class="hold-transition sidebar-mini layout-fixed " style="background-color: #F4F6F9; margin: 0">
    {%block navbar%}
        {% include "nav.html" %}
    {%endblock navbar%}
    {%block sidebar%}
        {% include "sidebar.html" %}
    {%endblock sidebar%}

 <div class="content-wrapper">
            <!-- Content Header (Page header) -->

    {%block content%}
    {%endblock content%}





{%block footer%}
{% include "footer.html" %}
{%endblock footer%}

{%block scripts%}
{% include "scripts.html" %}
{%endblock scripts%}
{%block js%}
{%endblock js%}
     </body>

</html>



