{% load static %}
{% block sidebar %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{% static 'assets/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AMA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            {% if user.profile.avatar %}
            <div class="image">
                <img src="{{ request.user.profile.img.url }} " class="img-circle elevation-2">
            </div>
            {% else %}
            <div class="image">
                <img class="img-circle elevation-2" style="max-height: 80px; width: 80px"
                    src="https://via.placeholder.com/128" alt="">
            </div>
            {% endif %}
            <div class="info">
                <a href="{% url 'profile' %}" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="{% url 'home:home' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Home
                        </p>
                    </a>

                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'project:viewall' %}" class="nav-link">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            Projects
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'project:add' %}" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Start Project

                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'project:add' %}" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Company

                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Contacts
                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Tasks
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>

<!-- /.control-sidebar -->
{% endblock sidebar %}