{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}

<div class="container">
    <h1 style="
        margin: 1em 0 0.5em 0;
        color: #343434;
        font-weight: normal;
        font-family: 'Ultra', sans-serif;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        text-shadow: 0 2px white, 0 3px #777;">
        {{category_name}}
    </h1>
    <div class="row">
        {% for project in category_projects %}
        <div class="col-sm-4 mt-5">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'projects:project_page' project.id %}">
                    <img src="/media/{{pics|get_item:project.id}}" class="card-img-top"
                        style="width:100%; height:100px;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.details}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}